.App {background-color: rgba(7, 12, 60, 0.909);
    position: relative;
    text-align: center;height: 1200px;
  }
  
  .rez {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
  }
  
  .nr {
    margin-left: 40px;
    width: 70px;
    height: 35px;
    font-size: 20px;
  }
  .gen {
    background-color: red;
    color: white;
    border-radius: 5px;
    position: absolute;
    height: 60px;
    font-size: 30px;
    left: 500px;
    top: 510px;
    box-shadow: 5px 5px 10px 1px #000;
  }
  label {
    color: white;
    font-size: 25px;
  }
  .symb {
    margin-left: 40px;
    width: 50px;
    height: 50px;
  }
  .numb {
    margin-left: 40px;
    width: 50px;
    height: 50px;
  }
  .control {font-size: 35px;padding-left: 20px;
    width: 600px;
    height: 80px;
    margin-left: 400px;
    margin-top: 50px;
  }
  h1 {
    color: white;
    padding-top: 200px;
  }